<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.hickory.example</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/max/anaconda3/bin/python</string>
		<string>demo.py</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/Users/max/Repos/hickory/stderr.log</string>
	<key>StandardOutPath</key>
	<string>/Users/max/Repos/hickory/stdout.log</string>
	<key>StartInterval</key>
	<integer>10</integer>
	<key>WorkingDirectory</key>
	<string>/Users/max/Repos/hickory</string>
</dict>
</plist>
